.backbutton {
    --background: #DEE2E6;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    --border-radius: 16px;
    --background-activated: #cccccc;
    width: 37px;
    height: 37px;
}

.p3 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6C757D;
}

.p0 {
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.summaryitem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9ECEF;
    border-radius: 16px;
    width: 100%;
    height: 239px;
}

.foodp {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #D71921;

}

.foods {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #D71921;

}

.flex3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.flex4 {
    display: flex;
    justify-content: space-between;
    height: 100%;
    bottom: 0px;
}

.flex2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ion-checkbox {
    --checkmark-color:red;
    --background-checked:white !important;
    --border-color-checked:white !important;
}

.buttonsign2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsummary2 {
    display: flex;
    justify-content: space-between;
}

.regularbutton {
    width: 32%;
    height: 42px;
    --background: #FFC02E;
    --border-radius: 14px;
    --box-shadow: none;
    color: white;
}

.xbutton {
    --background: var(--charcoal, #f4f4f4);
    width: 32%;
    height: 42px;
    left: 132px;
    top: 709px;
    border: 1px solid #DEE2E6;
    border-radius: 14px;
    --border-radius: 14px;
    --box-shadow: none;
    color: black;
}

.addons {
    height: 100px;
    left: 16px;
    top: 813px;
    background: #E9ECEF;
    border-radius: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.addonsinside {
    margin-left: 16px;
    margin-right: 16px;
}

.addons1 {
    margin-bottom: 88px;
}

.addonscontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex2 {
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin-left: 80%;
    margin-bottom: 18px;
}

.lowerbutton {
    width: 100% !important;
    background-color: white;
    position: fixed;
    bottom: 0px;
    height: 83px;
    border-top: 1px solid #DEE2E6;
    z-index: 2;
}

.text2 {
    font-weight: 400;
    font-size: 12px;
}

.info {
    height: 103px;
    width: 100%;
    left: 16px;
    top: 105px;
    background: #E9ECEF;
    border-radius: 16px;
    margin-right: 8px;
}

.info__edit {
    height: 103px;
    left: 16px;
    top: 105px;
    background: rgba(253, 125, 20, 0.2);
    border-radius: 16px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.info__delete {
    height: 103px;
    left: 16px;
    top: 105px;
    background: rgba(220, 53, 69, 0.2);
    border-radius: 16px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.info__editOrder {
    height: 181px;
    left: 16px;
    top: 105px;
    background: rgba(253, 125, 20, 0.2);
    border-radius: 16px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.info__deleteOrder {
    height: 181px;
    left: 16px;
    top: 105px;
    background: rgba(220, 53, 69, 0.2);
    border-radius: 16px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.ord_icon {
    width: 24px;
    height: 24px;   
}

.ion-padding-info{
    padding: 16px 16px 16px; 
}

.p10 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #6C757D;
    width: 100%;
}

.orders {
    width: 100%;
    height: auto;
    left: 16px;
    background: #E9ECEF;
    border-radius: 16px;
    margin-right: 8px;
    padding: 24px 16px 24px 16px;
}

.steak {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.psummary {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.payment {
    width: auto;
    height: 79px;
    left: 16px;
    top: 822px;
    background: #E9ECEF;
    border-radius: 16px;
    padding: 16px;
    margin-top: 16px;
}

.flex8 {
    display: flex;
    flex-direction: column;
}

.flex7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summarycontent {
    margin-bottom: 100px;
}

.pr{
    padding-right: 8px;
}
.ion-header{
    padding: 16px 16px 0px 16px;
}

.p5 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #6C757D;
    margin-top: 8px;
}

.paymenttext {
    font-weight: 700;
    font-size: 14px;
}

.points {
    color: #D71921;
}

.paymentimg {
    height: 25px;
    width: 80px;
}

.paymentimg1 {
    width: 80px;
    height: 25px;
}

.between {
    display: flex;
    justify-content: space-between;
}

.p11 {
    margin-left: 0px;
}

.mtm {
    margin-top: 8px;
}

.color{
    color: #D71921;
}
.orderp {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.ordertop {
    margin-top: 47px;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.flexorder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
    flex-direction: column;
    text-align: center;
}

.imgorder {
    width: 50%;
}

.imgmodal {
    width: 30%;
    margin: 18px;
}

.aspect{
    aspect-ratio: auto;
}

ion-modal#example-modal {
    --width: 80%;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 16px;
    --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
}

ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
}


ion-modal#example-modal .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foodsummarypadding{
    padding: 0px 16px 88px 16px;
}

.custom4 {
    background-color: #F8F9FA;
    --placeholder-color: black;
    --placeholder-background-color: #F8F9FA;
    --icon-color: transparent;
    --clear-button-color: #F8F9FA;
    --border-radius: 16px;
    --placeholder-opacity: 30%;
    --box-shadow: none;
    height: 60px;
    border: 1px solid #DEE2E6;
    border-radius: 16px;
    margin-top: 22px;
    position: relative;
}

.change {
    position: absolute;
    margin-left: 16px;
    margin-top: 10px;
}

.change__title {
    font-size: 12px;
    font-weight: 400;
}

.change__total {
    color: var(--Gray-300, #DEE2E6);    
    font-size: 16px;
    font-weight: 400;
    margin-top: 2px;
}

.Clnt__ct {
    width: 100%;
    height: auto;
    text-align: start;
}

.clnt__info {
    width: 100%;
    height: auto;
}